body {
    margin: 0;
    
    width: 100%;
    height: 100vh;
    background-color: #000000;
 
    font-size: 15px;
    line-height: 1.6;
    color: #ffffff;

}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

/* Container */

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    background: url("../img/fonts_body.jpg") center no-repeat;
    background-blend-mode: multiply;
    background-color: #333333;
    background-size: cover;
    -webkit-background-size: cover;

}
.container__main {
    width: 50%;
}
.container__social {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
.container__copyright {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

/* Header */

.header {
    width: 100%;
    height: 75px;
    justify-content: space-between;
    background: transparent;
    background-color: #000000;
    
    

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 5000;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin: 10px;
    background-color: #000000;
}

.header__logo {
    font-size: 35px;
    font-weight: 700;
}

.logo {
    width: 60px;
    height: 60px;
    justify-content: left;
}


/* NAV */

.nav {
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
}

.nav__link {
    display: inline-block;
    vertical-align: top;
    margin: 10px;
    color: #ffffff;
    text-decoration: none;
    font-size: 20px;

    transition: color .1s linear;
}

.nav__link:hover {
    color: coral;
}

/* СОЦИАЛЬНЫЕ СЕТИ */

.social {
    width: 100%;
    margin-top: 77px;
    margin-bottom: -50px;
    justify-content: right;
    display: flex;
    align-items: center;
}
.social-icon-vk {
    width: 40px;
    height: 40px;
    margin-left: 10px;
    transition: color .1s linear;
    background: url('https://api.iconify.design/entypo-social/vk-with-circle.svg?color=coral&width=40&height=40') no-repeat center center / contain;
}

.social-icon-vk:hover {
    content: url('https://api.iconify.design/entypo-social/vk-with-circle.svg?color=chocolate&width=40&height=40');
}

.social-icon-instagram {
    width: 40px;
    height: 40px;
    margin-left: 10px;
    transition: color .1s linear;
    background: url('https://api.iconify.design/entypo-social/instagram-with-circle.svg?color=coral&width=40&height=40') no-repeat center center / contain;
}
.social-icon-instagram:hover {
    content: url('https://api.iconify.design/entypo-social/instagram-with-circle.svg?color=chocolate&width=40&height=40');
}
.num_header{
    text-decoration: none;
    color: coral;
    font-size: 40px;
    margin-left: 10px;
    transition: color .1s linear;
}
.num_header:hover {
    color: chocolate;
    text-decoration: underline;
}
.h2__header {
    padding: 0;
    margin-bottom: -11px;
    font-size: 27px;
}
/* Main */

.main {
    display: flex;
    margin-top: 100px;
    height: 100vh;
}


.main__title {
    text-align: center;
    color: rgb(255, 255, 255);
}

.main__text {
    margin-left: 20px;
    color: #9e9c9c;
    font-size: 22px;
    text-align: left;
}




/*Форма записи*/

.form  {
    height: 450px;
    width: 450px;
    margin-left: 60px;
    padding: 32px;
    border-radius: 10px;
    box-shadow: 0 4px 16px #CCC;
    font-family: sans-serif;
    letter-spacing: 1px;
    background: rgba(236, 231, 231, 0.1)
    
}

.form__input,
.form__buttom {
    font-family: sans-serif;
    letter-spacing: 1px;
    font-size: 18px;
    color: #fff;
}

.form__title {
    text-align: center;
    margin: 0 0 32px 0;
    font-weight: normal;
    color: #fff;
}
.form__group {
    position: relative;
    margin-bottom: 32px;

}

.form__label {
    position: absolute;
    left: 0;
    
    
    color: #ffffff;
    transition: 0.3s;
}

.form__input {
    width: 100%;
    padding-bottom: 10px;
    border: none;
    border-bottom: 1px solid #e0e0e0;
    background-color: transparent; 
    outline: none;
    transform: 0.3s;

}

input{
    background: red;
}

.form__input:focus {
    border-bottom: 1px solid chocolate;

}

.button__position{
    text-align: center;
}

.form__buttom {
    font-size: 30px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    color: #fff;
    background-color: coral;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
    
}
.form__buttom:focus,
.form__buttom:hover {
    background-color: chocolate;
}

.form__input:focus ~ .form__label,
.form__input:not(:placeholder-shown) ~ .form__label {
    top: -18px;
    font-size: 0px;
    color: #797676;
}

.tel__num {
    text-align: center;
    margin-top: 20px;
}

.num {
    text-decoration: none;
    color: coral;
    font-size: 40px;
    transition: color .1s linear;
}
.num:hover {
    color: chocolate;
    text-decoration: underline;
}
/* Footer */

.footer {

    width: 100%;
    justify-content: space-around;
    padding: 0;
    margin: 1px;
    background: #000000;
    text-decoration: none;
}

.footer,
.footer__box,
.footer__box1,
.footer__box2 {
    display: flex;
    flex-wrap: wrap;
}
.footer__mail {
    text-decoration: none;
}
.list__contact {
    text-decoration: none;
}
.footer__title {
    color: #ffffff;
    font-size: 23px;
    font-weight: 600;
    text-align: center;
    padding: 20px;
    margin-left: 0px;
}
.footer__contact__email {
    text-decoration: none;
    text-align: left;
    padding-left: 20px;
    color: #ccc;
    text-align: left;
    font-size: large;
}
.footer__contact__email span {
    font-style: italic;
    font-weight: 700;
}
.footer__contact__email a {
    text-decoration: none;
    color: #ccc;
    text-align: center;
}
#footer__link1 {
    width: 25%;
    text-decoration: none;
    
}


.footer__box {
    width: 25%;
    text-decoration: none;

}

.footer__box1 {
    width: 25%;
    text-decoration: none;
}

.footer__box2 {
    width: 25%;
    text-decoration: none;
    
}
 
a {
    text-decoration: none;
}

.li {
    text-align: left;
    color: #ffffff;
    font-size: 20px;
    list-style-type: none;
}

.footer__link {
    color: #fff;
}

.li__link {
    font-size: 20px;
    list-style-type: none;
    text-align: left;

}

.footer__logo {
    margin-top: 20px;
    margin-bottom: 5px;
    padding: 10px;
    width: 250px;
    height: 250px;
}

.copyright {
    border-top-style: dashed;
    border-top-width: 1px;
    border-color: #ccc;
    text-align: left;
    padding: 10px ;
}





/* АДАПТАЦИЯ */

@media screen and (max-width: 1200px) {
    .header__logo {
        font-size: 33px;
    }
    .num_header {
        font-size: 35px;
    }
    .h2__header {
        font-size: 24px;
    }
    .nav__link {
        font-size: 16px;
    }
}
@media screen and (max-width: 1079px) {
    .h2__header {
        font-size: 22px;
    }
    .header__logo {
        font-size: 30px;
    }
    .num_header {
        font-size: 31px;
    }
    .social-icon-vk {
        width: 31px;
        height: 31px;
    }
    .social-icon-instagram {
        width: 31px;
        height: 31px;
        margin-right: 10px;
    }
    .main__title {
        font-size: 26px;
    }
    .main__text {
        font-size: 20px;
    }
    .num {
        font-size: 35px;
    }
    .form {
        height: 435px;
        width: 420px;
    }
    .form__buttom {
        font-size: 25px;
    }
    .form__title {
        font-size: 25px;
    }
    .footer__title {
        font-size: 20px;
    }
    .li {
        font-size: 17px;
    }
    .footer__link {
        font-size: 17px;
    }
    .copyright {
        font-size: 13px;
    }
}
@media screen and (max-width: 985px) {
    .h2__header {
        font-size: 20px;
    }
    .num_header {
        font-size: 24px;
    }
    .header__logo {
        font-size: 25px;
    }
    .social-icon-vk {
        font-size: 12px;
    }
    .social-icon-instagram {
        font-size: 12px;
    }
    .form {
        height: 430px;
        width: 385px;
    }
    .main__title {
        font-size: 23px;
    }
    .main__text {
        font-size: 17px;
    }
    .form__title {
        font-size: 21px;
    }
    .num {
        font-size: 28px;
    }
    .form__buttom {
        font-size: 20px;
    }
}

@media screen and (max-width: 895px) {
    .form {
        height: 380px;
        width: 325px;
    }
    .header__logo {
        font-size: 21px;
        margin-top: 5px;
    }
    .logo {
        width: 45px;
        height: 45px;
    }
    .h2__header {
        font-size: 19px;
    }
    .num_header {
        font-size: 20px;
    }
    .nav__link {
        font-size: 14px;
    }
    .main__title {
        font-size: 19px;
    }
    .main__text {
        font-size: 15px;
    }
    .footer__title {
        font-size: 17px;
    }
    .footer__link {
        font-size: 15px;
    }
    .li {
        font-size: 15px;
    }
    .footer__contact__email {
        font-size: 15px;
    }
    .footer__logo {
        width: 210px;
        height: 210px;
    }
}
@media screen and (max-width: 815px) {
    .h2__header {
        font-size: 16px;
    }
.main__title {
    font-size: 18px;
}
.form__title {
    font-size: 19px;
}
.form__label {
    font-size: 13px;
}
.num {
    font-size: 24px;
}
.form__buttom {
    font-size: 17px;
}
}
@media screen and (max-width: 773px) {
    .main__title {
        font-size: 16px;
    }
    .header__logo {
        font-size: 19px;
    }
    .nav__link {
        font-size: 13px;
    }
    .num_header {
        font-size: 18px;
    }
    .main__text {
        font-size: 14px;
    }
    .form {
        height: 362px;
        width: 298px;
    }
    .form__title {
        font-size: 17px;
    }
    .num {
        font-size: 20px;
    }
    .social-icon-vk {
        width: 22px;
        height: 22px;
    }
    .social-icon-instagram {
        width: 22px;
        height: 22px;
    }
}
@media screen and (max-width: 719px) {
    .header__logo {
        font-size: 17px;
        margin-top: 8px;
    }
    .form {
        height: 356px;
        width: 279px;
    }
    .form {
        height: 356px;
        width: 279px;
    }
    .footer__title {
        font-size: 15px;
    }
    .footer__contact__email {
        font-size: 13px;
    }
    .li__link {
        font-size: 15px;
    }
    .footer__logo {
        width: 190px;
        height: 190px;
    }
}
@media screen and (max-width: 691px) {
    .num_header {
        font-size: 15px;
    }
    .h2__header {
        font-size: 14px;
    }
    .header__logo {
        font-size: 15px;
    }
    .nav__link {
        font-size: 12px;
    }
    .form__title {
        font-size: 15px;
    }
    .num {
        font-size: 17px;
    }
    .form__buttom {
        font-size: 15px;
    }
    .form {
        height: 356px;
        width: 266px;
    }

}
@media screen and (max-width: 639px) {
    .header__logo {
        font-size: 12px;
    }
    .h2__header {
        font-size: 12px;
    }
    .nav__link {
        font-size: 1opx;
    }
    .main__title {
        font-size: 14px;
    }
    .main__text {
        font-size: 13px;
    }
    .form__title {
        font-size: 13px;
    }
    .form__label {
        font-size: 11px;
    }
    .form {
        height: 356px;
        width: 235px;
    }
}
@media screen and (max-width: 589px) {
    .header__logo {
        font-size: 11px;
    }
    .nav__link {
        font-size: 10px;
    }
    .form {
        margin-left: 32px;
    }
}
@media screen and (max-width: 547px) {
    .h2__header {
        font-size: 11px;
    }
    .num_header {
        font-size: 13px;
    }
    .footer__logo {
        width: 150px;
        height: 150px;
    }
    .footer__contact__email {
        font-size: 13px;
    }
    .li {
        font-size: 13px;
    }
    .form {
        margin-left: 22px;
    }
}
@media screen and (max-width: 535px) {
    .container__main {
        width: 100%;
        margin: auto;
        padding: 10px;
    }
    .main {
        display: flex;
        margin-top: 100px;
        height: 100vh;
        flex-direction: column;
        justify-content: center;
    }
    .form-face {
        justify-content: center;
    }
    .form {
        justify-content: center;
        height: 320px;
        width: 440px;
        margin: auto;
        margin-bottom: 20px;
    }
    .h2__header {
        font-size: 12px;
    }
    .num_header {
        font-size: 17px;
        margin-top: 10px;
        position: relative;
    }
    .social {
        width: 100%;
        margin-top: 77px;
        margin-bottom: -105px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    .social-icon-vk {
        width: 19px;
        height: 19px;
        margin: 0 10px;
        display: flex;
        position: absolute;
        right: 0%;
        margin-top: 10px;
        
    }
    .social-icon-instagram {
        width: 19px;
        height: 19px;
        right: 5%;
        position: absolute;
        margin-top: 10px;
    }
    .form__title {
        font-size: 15px;
    }
    .container__social {
        margin-top: 15px;
    }
    .nav__link {
        font-size: 8px;
    }
}
@media screen and (max-width: 493px) {
    .footer, .footer__box, .footer__box1, .footer__box2 {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}
}
@media screen and (max-width: 445px) {
    .form {
        justify-content: center;
        height: 306px;
        width: 384px;
    }
    .footer, .footer__box, .footer__box1, .footer__box2 {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}
}
@media screen and (max-width: 390px) {
    .container__main {
        width: 100%;
        margin: auto;
        padding: 10px;
    }
    .nav__link {
        font-size: 11px;
    }
    .main {
        display: flex;
        margin-top: 190px;
        height: 100vh;
        flex-direction: column;
        justify-content: center;
    }
    .form-face {
        justify-content: center;
    }
    .form {
        height: 336px;
        width: 315px;
    }
    .footer, .footer__box, .footer__box1, .footer__box2 {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}
    .social {
        width: 100%;
        margin-top: 90px;
        margin-bottom: -184px;
        display: flex;
        flex-direction: column;
    }
    .num_header {
        margin-top: 12px;
        font-size: 15px;
    }
}
@media screen and (max-width: 401px) {
    .social-icon-instagram {
        right: 26px;
    }
    .h2__header {
        font-size: 12px;
    }
    .form {
        justify-content: center;
        height: 328px;
        width: 347px;
    }
}
@media screen and (max-width: 369px) {
    .social-icon-instagram {
        right: 26px;
    }
    .h2__header {
        font-size: 11px;
    }
} 
@media screen and (max-width: 358px) {
    .h2__header {
        font-size: 11px;
    }
    .form {
        height: 316px;
        width: 298px;
    }
    .form__buttom {
        font-size: 12px;
    }
    .form__title {
        font-size: 13PX;
    }
    .social-icon-instagram {
        right: 25px;
    }
    .num_header {
        font-size: 12px;
    }
    .footer, .footer__box, .footer__box1, .footer__box2 {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}
.h2__header {
    font-size: 10px;
}
}